@model IEnumerable<WebApplication1.Models.Cinema.Producer>
@{ ViewData["Title"] = "Producteurs et leurs Films"; }
<h1>Producteurs et leurs Films</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nom Producteur</th>
            <th>Nationalité</th>
            <th>Titre Film</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var prod in Model)
    {
        @foreach (var movie in prod.Movies)
        {
            <tr>
                <td>@prod.Name</td>
                <td>@prod.Nationality</td>
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
            </tr>
        }
    }
    </tbody>
</table>
